
@{
    ViewBag.Title = "Home Page";
}



<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Merhaba!</h4>
    <p>Sayfamıza hoş geldiniz. İlgili alanları görebilmek için lütfen giriş yapınız.</p>
    <hr>
    <p class="mb-0">Giriş işlemini login butonuyla sağlayabilirsiniz. Eğer kayıtlı değilseniz register butonuna basarak lütfen kayıt olunuz.</p>
</div>








